# Hari 4 â€“ Python List dan Dictionary

## List

In [1]:
# inisialisasi suhu anggota keluarga
suhu1 = 21
suhu2 = 20
suhu3 = 22

In [2]:
# simpan dalam list
suhu_keluarga = [suhu1, suhu2, suhu3]

In [3]:
# membuat list
suhu_keluarga_ucup = [
                    'ayah ucup', 19, 
                    'ucup', 19, 
                    'ibu ucup', 20
                ]
suhu_keluarga_boy = [
                    'istri boy', 20, 
                    'anak boy', 18, 
                    'istri kedua boy', 21
                ]

# membuat list dalam list dan di campur dengan data boolean
suhu_keluarga = [
                    suhu_keluarga_ucup, 
                    suhu_keluarga_boy, 
                    True
                ]

### Akses Data List

In [4]:
# Membuat data list
tinggi_badan = [
                    162, # index 0 
                    177, # index 1
                    182, # index 2
                    150, # index 3
                    166 # index 4
                ]

In [5]:
# Subsetting list
print(tinggi_badan[0]) # posisi pertama

162

In [6]:
print(tinggi_badan[-2]) # posis kedua dari belakang

150

In [7]:
# Slicing list
# Mengambil data dengan index 0, 1, 2, 3
print(tinggi_badan[:4])

[162, 177, 182, 150]

In [8]:
# Mengambil data dengan index 2, 3, 4
print(tinggi_badan[2:5])

[182, 150, 166]

### Manipulasi List

In [9]:
# Misalnya, katakanlah kita ingin mengubah suhu ucup:

# mengubah suhu ucup
suhu_keluarga_ucup[3] = 22

In [10]:
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'ibu ucup', 20]

In [11]:
suhu_keluarga_ucup[-2:] = ['mamah ucup', 22]
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22]

In [12]:
suhu_keluarga_ucup = suhu_keluarga_ucup + ['adik ucup', 20]
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22, 'adik ucup', 20]

In [19]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.append('Rizky')
print(murid)

['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani', 'Rizky']

In [21]:
murid.insert(2, 'Ahmad')
print(murid)

['Ayu', 'Bagus', 'Ahmad', 'Ahmad', 'Fajar', 'Cahyo', 'Ani', 'Rizky']

In [23]:
del(suhu_keluarga_ucup[0])
print(suhu_keluarga_ucup[0])

ucup

In [26]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.pop(2)
print(murid)
murid.pop()
print(murid)

['Ayu', 'Bagus', 'Cahyo', 'Ani']
['Ayu', 'Bagus', 'Cahyo']

In [27]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.remove('Cahyo')
print(murid)

['Ayu', 'Bagus', 'Fajar', 'Ani']

### Some Function in List

In [28]:
keluarga_ucup = ['mamah', 'papah', 'ucup', 'adek ucup', 'kaka ucup']

# berapa banyak anggota keluarga ucup
print(len(keluarga_ucup))

5

In [29]:
print(sorted(keluarga_ucup))

['adek ucup', 'kaka ucup', 'mamah', 'papah', 'ucup']

In [30]:
primes = [2, 3, 5, 7]
print(sum(primes))

17

In [31]:
a = [1,2,3,4,5]
b = a.copy()
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [32]:
#lakukan manipulasi terhadap list b
b.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

### List Comperehension

In [ ]:
number = [1,5,10,6,7,8,12]
result = [i for i in number if i>7]

## Dictionary

In [33]:
numbers = {'one':1, 'two':2, 'three':3}

In [34]:
print(numbers['one'])

1

In [35]:
numbers['one'] = 'satu'

In [36]:
print(numbers)

{'one': 'satu', 'two': 2, 'three': 3}

In [37]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = satu
two = 2
three = 3

In [38]:
for k in numbers.values():
    print("{}".format(k))

satu
2
3

In [39]:
for k, v in numbers.items():
    print("{} = {}".format(k, v))

one = satu
two = 2
three = 3

In [40]:
'one' in numbers

True

In [51]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['four'] = 10
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 10}

In [52]:
numbers1 = {'two':5}
numbers.update(numbers1)
print(numbers1)

{'two': 5}

In [44]:
numbers = {'four': 10, 'one': 1, 'three': 3, 'two': 5}
numbers.pop('one')
print(numbers)

{'four': 10, 'three': 3, 'two': 5}

In [45]:
numbers.clear()
print(numbers)

{}

In [46]:
numbers = {'four': 10, 'three': 3, 'two': 5}
del numbers['four']
print(numbers)

{'three': 3, 'two': 5}

In [47]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined