# Hari 2 - Algoritma KNN dan Model Regresi Linear

## K-Nearest Neighbors (KNN)

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()
df = pd.DataFrame(np.c_[iris['data'], iris['target']], columns = iris['feature_names']+['species'])
df['species'] = df['species'].replace([0,1,2], iris.target_names)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [2]:
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#memilih algoritma model yang akan kita gunakan
from sklearn.neighbors import KNeighborsClassifier

#menentukan hyperparameter model
model_knn = KNeighborsClassifier(n_neighbors=5, weights='distance')

#memisahkan antara data feature dan data target
X = df.drop('species', axis=1)
y = df['species']

#memerintahkan model untuk mempelajari data
model_knn.fit(X,y)

#mendefinisikan data baru yang akan dipresiksi
import numpy as np
X_new = np.array([[3, 4.5, 2.5, 0.2], [1, 2, 1.7, 0.4], [6.6, 2.3, 5.1, 0.6]])

#mengaplikasikan model ke dalam data test
model_knn.predict(X_new)

array(['setosa', 'setosa', 'versicolor'], dtype=object)

In [5]:
import pandas as pd
df1 = pd.read_csv('salary.csv')
df1.head()

   YearsExperience   Salary
0              1.1  3934300
1              1.3  4620500
2              1.5  3773100
3              2.0  4352500
4              2.2  3989100

In [6]:
#menentukan algoritma model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#memisahkan data feature dan target
X = df1.drop('Salary', axis=1)
y = df1['Salary']

#Memerintahkan model untuk mempelajari data
regressor.fit(X,y)

#mendefinisikan data yang akan diprediksi
X_new = np.array([4.9, 5.1, 5.3, 5.9, 6]).reshape(-1,1)

#mengaplikasikan model ke data yang akan diprediksi
regressor.predict(X_new)

array([6611945.58117938, 6749014.67265129, 6886083.7641232 ,
       7297291.03853893, 7365825.58427488])